/* Fonts */

$font-family: 'Source Sans Pro', sans-serif;
$font-black: 900;
$font-bold: 700;
$font-semibold: 600;
$font-regular: 400;

/* Colors */

$main-color: #cf383e;
$text-color: #fff;
$text-subtittle-color: #bfbfbf;
$dark-color: #131313;